<main class="site-content" role="main">
    <!--Home Slider==================================== -->
    <section id="home-slider">
        <div id="slider" class="sl-slider-wrapper">

            <div class="sl-slider">

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25"
                     data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    @* <div class="mask-overly"></div> *@
                    <div class="bg-img slider-1">
                        <div class="slide-caption">
                            <div class="caption-content">
                                <h3 class="animated fadeInDown">
                                    FineAura Agri and Biofuels Pvt. Ltd.
                                </h3>
                                <h5 class="text-white">Your Trust Our Efforts</h5><br />
                                <p class="animated fadeInDown">FineAura Agri & Biofuels Pvt. Ltd. is a leading and
                                    trusted biomass pellet production company committed to delivering sustainable and
                                    eco-friendly
                                    energy solutions. Our products are widely used in industries, boilers, and heating
                                    applications as an efficient alternative to coal and conventional fuels.
                                </p>
                                <a href="#contact" class="btn btn-blue btn-effect">Join US</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15"
                     data-slice1-scale="1.5" data-slice2-scale="1.5">
                    <div class="mask-overly"></div>
                    <div class="bg-img slider-2"></div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 class="animated fadeInDown">Focused On Clients Trust</h2>
                            <p class="animated fadeInDown">
                                Long-term partnerships, transparent communication, and customized solutions
                                based on clients requirements.</p>
                                <a href="#contact" class="btn btn-blue btn-effect">Join US</a>
                            </div>
                        </div>

                    </div>

                    <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3"
                         data-slice1-scale="2" data-slice2-scale="1">
                        <div class="mask-overly"></div>
                        <div class="bg-img slider-3"></div>
                        <div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown">Production</h2>
                                <p class="animated fadeInDown ">
                                    We specialized in the manufacturing of high-quality biomass pellets using advanced
                                    processing techniques.
                                </p>
                                <a href="#contact" class="btn btn-blue btn-effect">Join US</a>
                            </div>
                        </div>

                    </div>

                </div><!-- /sl-slider -->

                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>


                <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                    <span class="nav-dot-current"></span>
                    <span></span>
                    <span></span>
                </nav>

            </div><!-- /slider-wrapper -->
        </section>
        <!--End Home SliderEnd==================================== -->

        <!-- Features section -->
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h2>Best Features</h2>
                            <p class="animated fadeInDown">FineAura Agri And Biofuels Pvt. Ltd. stands out as a reliable,
                                consistent and
                                forward-thinking company in
                                the biomass energy sector,<br /> offering strong value across multiple areas with modern
                                technology.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Our Best Features:</h4>
                            <p></p>
                            <ul class="list-nav">
                                <li><i class="ion-ios-checkmark-empty"></i>Consistent Product Quality</li>
                                <li><i class="ion-ios-checkmark-empty"></i>Reliable Supply & Scalability</li>
                                <li><i class="ion-ios-checkmark-empty"></i>Advanced Production Process</li>
                                <li><i class="ion-ios-checkmark-empty"></i>Client-Centric Approach</li>
                                <li><i class="ion-ios-checkmark-empty"></i>Sustainable Energy Commitment</li>
                                <li><i class="ion-ios-checkmark-empty"></i>Modern Technology</li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <img class="img-fluid custom-img" src="images/specialities.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- end Features section -->

            <!-- Prototype section -->
            <section id="prototype">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <h2>Renewable Resource of Energy</h2>
                                <p>By promoting renewable energy solutions, and efficient alternative to conventional fuels, Our
                                    company contributes to reduce air pollution with low carbon emmission, conserving natural
                                    resources, and supporting a more sustainable
                                    greener future and a clean environment.</p>
                                </div>
                            </div>

                            <div class="col-md-4 mx-auto text-center">
                                <div class="block" id="jobs">
                                    <img src="images/renewable.jpg" alt="">

                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=fineaura01@gmail.com"
                                       class="btn btn-blue btn-effect" target="_blank">
                                        Send Your CV here
                                    </a>

                                    <a href="https://wa.me/918600427786" class="btn btn-blue btn-effect" target="_blank">
                                        WhatsApp for any query
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- end Prototype section -->

                <!-- Service section -->
                <section id="service">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title text-center">
                                    <h2>Service</h2>

                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                                <div class="service-item">
                                    <div class="service-icon">
                                        <i class="bi bi-bar-chart-line"></i>
                                    </div>
                                    <h3>Production</h3>
                                    <p>We specialized in the manufacturing of high-quality biomass pellets using advanced processing
                                        techniques. </p>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12 text-center" data-wow-delay="0.3s">
                                    <div class="service-item">
                                        <div class="service-icon">
                                            <i class="bi bi-truck"></i>
                                        </div>
                                        <h3>Transport</h3>
                                        <p>A well-managed logistics network enables safe and efficient transportation of pellets. We
                                            ensure proper handling during transit to maintain product quality and minimize losses. </p>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12 text-center ">
                                        <div class="service-item">
                                            <div class="service-icon">
                                                <i class="bi bi-bag-check"></i>
                                            </div>
                                            <h3>Handling requirements</h3>
                                            <p>We understand that every client has unique needs. Our team works closely with customers to
                                                assess demand, customize supply volumes, and provide flexible solutions to fulfill clients
                                                requirements. </p>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12 text-center" data-wow-delay="0.9s">
                                            <div class="service-item">
                                                <div class="service-icon">
                                                    <i class="bi bi-send-check"></i>
                                                </div>
                                                <h3>On-time Delivery</h3>
                                                <p>Timely delivery is a core priority. With streamlined operations and reliable distribution
                                                    systems, we ensure that orders are fulfilled as scheduled, helping clients to maintain
                                                    uninterrupted operations. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- end Service section -->

                                <!-- Project Video section -->
                                <section class="video-bg" id="video">
                                    <div class="overlay"></div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="mx-auto col-md-8">
                                                <div class="section-title text-center white">
                                                    <h2>FEATURED PROJECT</h2>
                                                    <p>Watch our production process in action as FineAura Agri And Biofuels Pvt. Ltd. transforms
                                                        agricultural and biomass residues into high-quality fuel pellets through advanced
                                                        manufacturing technology.</p>
                                                    </div>
                                                    <div class="modal-section text-center">
                                                        <a href="#" data-toggle="modal" data-target="#video-modal" class="video-popup-button">
                                                            <i class="ion-play"></i>
                                                        </a>
                                                        <div class="modal fade" id="video-modal" tabindex="-1" role="diaHome">
                                                            <div class="modal-dialog modal-lg" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal"
                                                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="embed-responsive embed-responsive-16by9">
                                                                            <video class="embed-responsive-item" controls>
                                                                                <source src="@Url.Content("~/images/featured-vdo.mp4")"
                                                                                        type="video/mp4">
                                                                            </video>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>From raw material selection to drying, grinding, compression, cooling, and final packaging.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- End Project Video section -->

                                    <!-- portfolio section -->
                                    <section id="portfolio">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="section-title text-center">
                                                        <h2>PROJECT GALLERY</h2>
                                                        <p>Explore our Project Gallery to see our completed and ongoing work. It demonstrates our
                                                            technical expertise, modern approach, and focus on delivering high-quality results that meet
                                                            industry standards.</p>
                                                        </div>
                                                        <ul class="portfolio-filter text-center">
                                                            <li><a href="#" data-filter="*" class="active">All</a></li>
                                                            <li><a href="#" data-filter=".photoshop">Raw Materials</a></li>
                                                            <li><a href="#" data-filter=".responsive">Machines</a></li>
                                                            <li><a href="#" data-filter=".wordpress">Product</a></li>
                                                            <li><a href="#" data-filter=".illustrator">Our Site</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row project-wrapper">
                                                    <div class="col-sm-6 col-md-4 photoshop">
                                                        <div class="portfolio-item">
                                                            <img src="images/portfolio/RawMaterials.jpeg" class="img-fluid w-100"
                                                                 alt="We utilize high-quality raw materials such as agricultural waste, sawdust, wood chips, and biomass residues. These materials are processed under strict quality controls to ensure uniformity, optimal moisture content, and superior calorific value in the final product.">
                                                            <figcaption class="mask">
                                                                <h3>Raw Materials</h3>
                                                                @* <p>Responsive</p> *@
                                                            </figcaption>
                                                            <ul class="external">
                                                                <li><a class="fancybox" title="Raw Materials" data-fancybox-group="works"
                                                                           href="images/portfolio/RawMaterials.jpeg"><i class="ion-ios-search"></i></a></li>
                                                                    @* <li><a href=""><i class="ion-link"></i></a></li> *@
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 col-md-4 responsive">
                                                            <div class="portfolio-item">
                                                                <img src="images/portfolio/Machine.jpeg" class="img-fluid w-100"
                                                                     alt="We use modern, high-performance machines to process raw materials into premium-quality pellets.">
                                                                <figcaption class="mask">
                                                                    <h3>Machine</h3>
                                                                    @* <p>Responsive</p> *@
                                                                </figcaption>
                                                                <ul class="external">
                                                                    <li><a class="fancybox" title="Machine" href="images/portfolio/Machine.jpeg"
                                                                               data-fancybox-group="works"><i class="ion-ios-search"></i></a></li>
                                                                        @* <li><a href=""><i class="ion-link"></i></a></li> *@
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-6 col-md-4 wordpress">
                                                                <div class="portfolio-item">
                                                                    <img src="images/portfolio/Product.png" class="img-fluid w-100"
                                                                         alt="Our products support a cleaner and greener future. By converting biomass waste into high-performance fuel pellets, we provide a renewable energy solution that conserves natural resources.">
                                                                    <figcaption class="mask">
                                                                        <h3>Product</h3>
                                                                        @* <p>Responsive</p> *@
                                                                    </figcaption>
                                                                    <ul class="external">
                                                                        <li><a class="fancybox" title="Our Product" data-fancybox-group="works"
                                                                                   href="images/portfolio/Product.png"><i class="ion-ios-search"></i></a></li>
                                                                            @* <li><a href=""><i class="ion-link"></i></a></li> *@
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-6 col-md-4 illustrator">
                                                                    <div class="portfolio-item">
                                                                        <img src="images/portfolio/site2.jpg" class="img-fluid w-100"
                                                                             alt="FineAura Agri & Biofuels Pvt. Ltd. produces high-quality biomass pellets offering sustainable, efficient, and low-emission energy solutions for industrial and commercial use.">
                                                                        <figcaption class="mask">
                                                                            <h3>Our Site</h3>
                                                                            @* <p>Responsive</p> *@
                                                                        </figcaption>
                                                                        <ul class="external">
                                                                            <li><a class="fancybox" title="Our Site" data-fancybox-group="works"
                                                                                       href="images/portfolio/site2.jpg"><i class="ion-ios-search"></i></a></li>
                                                                                @* <li><a href=""><i class="ion-link"></i></a></li> *@
                                                                            </ul>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-6 col-md-4 photoshop">
                                                                        <div class="portfolio-item">
                                                                            <img src="images/portfolio/RawMaterials02.jpeg" class="img-fluid w-100"
                                                                                 alt="We utilize high-quality raw materials such as agricultural waste, sawdust, wood chips, and biomass residues. These materials are processed under strict quality controls to ensure uniformity, optimal moisture content, and superior calorific value in the final product. ">
                                                                            <figcaption class="mask">
                                                                                <h3>Raw Materials</h3>
                                                                                @* <p>Responsive</p> *@
                                                                            </figcaption>
                                                                            <ul class="external">
                                                                                <li><a class="fancybox" title="Raw Materials" href="images/portfolio/RawMaterials02.jpeg"
                                                                                           data-fancybox-group="works"><i class="ion-ios-search"></i></a></li>
                                                                                    @* <li><a href=""><i class="ion-link"></i></a></li> *@
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6 col-md-4 illustrator">
                                                                            <div class="portfolio-item">
                                                                                <img src="images/portfolio/site1.jpg" class="img-fluid w-100"
                                                                                     alt="FineAura Agri & Biofuels Pvt. Ltd. produces high-quality biomass pellets offering sustainable, efficient, and low-emission energy solutions for industrial and commercial use. ">
                                                                                <figcaption class="mask">
                                                                                    <h3>Our Site</h3>
                                                                                    @* <p>Responsive</p> *@
                                                                                </figcaption>
                                                                                <ul class="external">
                                                                                    <li><a class="fancybox" title="Our Site" data-fancybox-group="works"
                                                                                               href="images/portfolio/site1.jpg"><i class="ion-ios-search"></i></a></li>
                                                                                        @* <li><a href=""><i class="ion-link"></i></a></li> *@
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                                <!-- end portfolio section -->

                                                                <!-- Speciality section -->
                                                                <section id="testimonials" class="parallax">
                                                                    <div class="container">
                                                                        <div class="row">

                                                                            <div class="col-lg-12">
                                                                                <div class="section-title text-center white ">
                                                                                    <h2>Our Specialities</h2>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <div id="testimonial" class="">
                                                                                    <div class="testimonial-item text-center">
                                                                                        <img class="img-fluid" src="images/quality01.jpg" alt="Our Clients">
                                                                                        <div class="clearfix">
                                                                                            <span>Consistent Product Quality</span>
                                                                                            <p>We maintain consistent product quality through strict quality control measures at
                                                                                                every stage of production. From raw material selection to final output. We ensure
                                                                                                that our biomass pellets meet high standards for uniformity, optimal moisture
                                                                                                content, and superior calorific value, providing reliable and efficient fuel
                                                                                                solutions for our clients.</p>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="testimonial-item text-center">
                                                                                            <img class="img-fluid" src="images/reliable.jpg" alt="Our Clients">
                                                                                            <div class="clearfix">
                                                                                                <span>Reliable Supply & Scalability</span>
                                                                                                <p>We operate with a scalable manufacturing infrastructure designed to support
                                                                                                    continuous production and bulk supply. With optimized processes and strong resource
                                                                                                    management, we ensure uninterrupted availability and the ability to handle
                                                                                                    increasing demand efficiently.</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="testimonial-item text-center">
                                                                                                <img class="img-fluid" src="images/HighPerformance.jpg" alt="Our Clients">
                                                                                                <div class="clearfix">
                                                                                                    <span>High performance Biomass Pellets</span>
                                                                                                    <p>Our advanced production process is designed to ensure efficiency, precision, and
                                                                                                        consistent quality. By integrating modern technology with controlled operations, we
                                                                                                        produce high-performance biomass pellets that meet industry standards.</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </section>
                                                                            <!-- end Speciality section -->

                                                                            <!-- Social section -->
                                                                            @* <section id="social" class="parallax">
                                                                                <div class="overlay">
                                                                                    <div class="container">
                                                                                        <div class="row">

                                                                                            <div class="col-lg-12">
                                                                                                <div class="section-title white text-center white ">
                                                                                                    <h2>FOLLOW US</h2>
                                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, <br> sapiente.
                                                                                                        Libero ipsam, dolore
                                                                                                        quibusdam magni.</p>
                                                                                                    </div>
                                                                                                </div>

                                                                                                <div class="col-lg-12">
                                                                                                    <ul class="social-button">
                                                                                                        <li class="wow animated zoomIn"><a href="http://www.fb.com/themefisher"><i
                                                                                                            class="ion-social-facebook"></i></a></li>
                                                                                                            <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#"><i
                                                                                                                class="ion-social-twitter"></i></a></li>
                                                                                                                <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i
                                                                                                                    class="ion-social-dribbble"></i></a></li>
                                                                                                                    <li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="#"><i
                                                                                                                        class="ion-social-linkedin"></i></a></li>
                                                                                                                    </ul>
                                                                                                                </div>

                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </section> *@
                                                                            <!-- end Social section -->

                                                                            <!-- Contact section -->
                                                                            <section id="contact">
                                                                                <div class="container">
                                                                                    <div class="row">

                                                                                        <div class="col-lg-12">
                                                                                            <div class="section-title text-center">
                                                                                                <h2>Contact us</h2>
                                                                                                <p>We’re here to assist you with all your inquiries. Whether you are looking for product
                                                                                                    details, bulk orders, or to deal with us, etc.<br /> Feel free to get in touch with us. Our
                                                                                                    team will respond promptly to support your requirements.</p>
                                                                                                </div>
                                                                                            </div>

                                                                                            @* <div class="col-md-7 contact-form">
                                                                                                                        <form id="contact-form" action="#" method="post">
                                                                                                                            <div class="input-field">
                                                                                                                                <input type="text" name="name" class="form-control" placeholder="Your Name...">
                                                                                                                            </div>
                                                                                                                            <div class="input-field">
                                                                                                                                <input type="email" name="email" class="form-control" placeholder="Your Email...">
                                                                                                                            </div>
                                                                                                                            <div class="input-field">
                                                                                                                                <input type="text" name="subject" class="form-control" placeholder="Subject...">
                                                                                                                            </div>
                                                                                                                            <div class="input-field">
                                                                                                                                <textarea name="message" class="form-control" placeholder="Messages..."></textarea>
                                                                                                                            </div>
                                                                                                                            <div id="mail-success" class="success-ms">
                                                                                                                                Thank you. The Mailman is on His Way :)
                                                                                                                            </div>
                                                                                                                            <div id="mail-fail" class="error-ms">
                                                                                                                                Sorry, don't know what happened. Try later :(
                                                                                                                            </div>
                                                                                                                            <button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
                                                                                                                        </form>

                                                                                                                    </div> *@
                                                                                            <div class="col-md-4 ">
                                                                                                <address class="contact-details">
                                                                                                    <h3>Contact Details</h3>
                                                                                                    <p><i class="ion-ios-telephone-outline"></i>+91-8600427786<span>
                                                                                                        &nbsp;&nbsp;+91-7055204050</span><span>&nbsp;&nbsp;+91-9850420071 </span></p>
                                                                                                        <br />
                                                                                                        <p><i class="ion-ios-email-outline"></i>fineaura01@gmail.com</p>
                                                                                                    </address>
                                                                                                </div>
                                                                                                <div class="col-md-4">
                                                                                                    <address class="contact-details">
                                                                                                        <h3><span>Our Address</span></h3>
                                                                                                        <p><span>Survey no.89, Hiwra, Kandri,</span><span>Ta. Ramtek, Dist. Nagpur.</span> <span>Pin
                                                                                                            code: 441106.</span></p><br>
                                                                                                            <br />
                                                                                                            <p><span>fineaura.hbtworkspace.in</span></p>
                                                                                                        </address>
                                                                                                    </div>
                                                                                                    <div class="col-md-4 text-center">
                                                                                                        <address class="contact-details location-btn">
                                                                                                            <h3><span>Contact Us</span></h3>
                                                                                                            <ul class="social-button-wapp d-inline-block">
                                                                                                                <span>
                                                                                                                    <li class="wow animated zoomIn"><a href="https://wa.me/918600427786"><i
                                                                                                                        class="bi bi-whatsapp"></i></a></li>
                                                                                                                    </span>
                                                                                                                </ul>
                                                                                                                <br /><br /><br />
                                                                                                                <a href="https://maps.app.goo.gl/BsssnsrtgsLRz7vn6" target="_blank"
                                                                                                                   class="btn btn-blue btn-effect"">
                                                                                                                    📍 View Location
                                                                                                                </a>
                                                                                                            </address>
                                                                                                        </div>
                                                                                                    </section>
                                                                                                    <!-- end Contact section -->

                                                                                                    <!-- Map section -->
                                                                                                    <section>
                                                                                                        <div id=" map">
                                                                                                            <iframe
                                                                                                            src="
                                                                                                            https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3714.193296835167!2d79.29252!3d21.421646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDI1JzE3LjkiTiA3OcKwMTcnMzMuMSJF!5e0!3m2!1sen!2sin!4v1778152591646!5m2!1sen!2sin"
                                                                                                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                                                                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                                                                        </div>
                                                                                                    </section>
                                                                                                    <!-- end Map section -->

                                                                                                    <!-- Terms & Conditions section -->
                                                                                                    <section id="conditions" class="terms">
                                                                                                        <div class="overlay">
                                                                                                            <div class="container">
                                                                                                                <div class="row">

                                                                                                                    <div class="col-lg-12">
                                                                                                                        <div class="section-title text-center">
                                                                                                                            <h2>Terms & Conditions</h2>
                                                                                                                        </div>
                                                                                                                        <div>
                                                                                                                            <ul class="list-nav">
                                                                                                                                <li><i class="ion-ios-checkmark-empty"></i>We strive to provide accurate information
                                                                                                                                    regarding our biomass pellets, biofuel products, and services. However, product
                                                                                                                                    specifications and availability may change without prior notice.</li>
                                                                                                                                    <li><i class="ion-ios-checkmark-empty"></i>Any information submitted through job
                                                                                                                                        applications, email or whatsapp, communication must be accurate and lawful. We
                                                                                                                                        reserve the right to reject inappropriate submissions.</li>
                                                                                                                                        <li><i class="ion-ios-checkmark-empty"></i>Your personal information submitted through
                                                                                                                                            this website will be handled responsibly and used only for business communication
                                                                                                                                            purposes.</li>
                                                                                                                                            <li><i class="ion-ios-checkmark-empty"></i>We reserve the right to update or modify
                                                                                                                                                these Terms and Conditions at any time without prior notice.</li>
                                                                                                                                                <li><i class="ion-ios-checkmark-empty"></i>This website may contain links to third-party
                                                                                                                                                    websites for additional information or services. We are not responsible for the
                                                                                                                                                    content or privacy practices of such external websites.</li>
                                                                                                                                                    <li><i class="ion-ios-checkmark-empty"></i>For any questions regarding these Terms and
                                                                                                                                                        Conditions, please contact:<br>
                                                                                                                                                        FineAura Agri and Biofuels Pvt. Ltd.<br>
                                                                                                                                                        Email: fineaura01@gmail.com</li>
                                                                                                                                                    </ul>
                                                                                                                                                </div>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </section>
                                                                                                                            <!-- end Terms & Conditions section -->
                                                                                                                        </main>


